<h1>{{ name }}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizeName }}</dd>
</dl>

<button
  *ngIf="name !== 'thor'"
  class="btn btn-primary mx-2"
  (click)="changeHero()">
  Cambiar Nombre
</button>

<button
  *ngIf="age !== 1500"
  class="btn btn-primary"
  (click)="changeAge()">
  Cambiar Edad
</button>

<button
  *ngIf="name !== 'ironman' && age !== 45"
  class="btn btn-primary mx-2"
  (click)="resetHero()"
  >
  Reset Hero
</button>
